body{
    background: #ffffff;
    font-size:1vw;
    font-family: 'Open Sans', sans-serif;
    padding:0;
    margin: 0;
}

nav{
    position: fixed;
}

nav ul{
    padding: 0;
    margin: 0;
    position: fixed;
    overflow-y: scroll;
}

.nav-title{
    padding:5px 30px;
}

nav li{
    list-style: none;
    border-top: 1px solid #000000;
    padding: 15px 30px;
    font-size: 18px
}

li a{
    text-decoration: none;
    color:#000000;
}

li p{
    display: inline;
    list-style: disc;
}

#body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


#header{
    width: 25%;
    order: 1;
    border-right: 2px solid gray;
    box-sizing: border-box;
}

#main-doc{
    width:75%;
    order: 2;
    text-align: justify;
    padding: 0 30px;
    box-sizing: border-box;
    line-height: 1.5
}

.content{
    padding: 0 15px;
}

.inner-list{
    padding: 0 15px;
}

.code{
    background: rgb(231, 228, 228);
    margin:0;
    padding:10px;
}


@media screen and (max-width:500px){
    body{
        font-size: 15px;
        padding:10px;
    }

    #body {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        box-sizing: border-box;
    }

    nav {
        position: relative;
    }

    nav ul {
        padding: 0;
        margin: 0;
        height:200px;
        position: relative;
        overflow-y: scroll;        
        border:1px solid #000000;
    }

    #header{
        width: 100%;
        order: 1;
        box-sizing: border-box;
        border-right:none;
    }
    
    #main-doc{
        width:100%;
        order: 2;
        text-align: justify;
        padding: 0px;
        box-sizing: border-box;
    }
}